* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: rgb(201, 220, 255);
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #014b58;
  position: relative;
}
#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#app {
  height: 80vh;
  width: 60vw;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  max-width: none;
}
input {
  height: 2rem;
  width: 1000rem;
  padding-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.137);
  border: 3px solid black;
  color: rgb(15, 60, 66);
  font-weight: 700;

}
::placeholder {
  font-weight: 700;
  opacity: 1;
  color: rgb(15, 60, 66);
}
button {
  background: 0;
  border: 0;
}
button > img {
  content: url(./images/search.png);
  width: 3em;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

.daytime {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

ul {
  width: 78%;
}

li div {
  display: flex;
  gap: 13%;
  justify-content: flex-start;
  align-items: center;

}

li {
  display: flex;
  justify-content: space-between;  
}