* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: rgb(216, 252, 255);
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #014b58;
  position: relative;
}


#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#app {
  height: 80vh;
  width: 60vw;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

input {
  height: 1.5rem;
}

button {
  background: 0;
  border: 0;
}